.template-selector {
  width: 500px;
  height: 100px;
  background-color: lightgrey;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #ccc;
  border-radius: 8px;
  position: relative;
  padding: 20px;
}

.meme-image {
  position: fixed;
  /* top: -100px; Adjust this value as needed */
  /* left: 50%; */
  transform: translateX(-50%);
  width: 300px; /* Adjust the size as needed */
  height: auto;
}
