.actions-container-row {
  display: flex;
  gap: 10px; /* Space between input and button */
  margin-bottom: 20px; /* Space below the row */
}

.common-width {
  width: 100%; /* Ensures both components have the same width */
}

/* Duplicated in TextGenerator.css (there as text-button) -> Need to solve */
.selector-button {
  margin-left: 10px;
  padding: 5px 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.text-button:hover {
  background-color: #0056b3;
}
